body{
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.font-roboto-light{
  font-weight: 300;
}

.font-roboto{
  font-weight: 400;
}

.font-roboto-medium{
  font-weight: 500;
}

.font-roboto-bold{
  font-weight: 700;
}

.font-noto-light{
  font-weight: 300;
}

.font-noto-bold{
  font-weight: 500;
}