.bg-light{
    background-color:white !important; 
}

.bg-cover{
    background-size: cover;
    background-position: center center;
}

.bg-cover-left{
    background-size: cover;
    background-position: left center;
}

.bg-gray{
    background-color:#E0E0E0 !important;
}